//   Created by acer on 14-5-14.
extends ../layout
block content
    h1= title
    .content
        ul
        -var index = 0
        each val,key in  articles
            li
                a(href="articleGet?articleKey=#{key}") #{++index}  : #{val}:  view |
                a(href="#{key}")  : #{val}: del