extends ../layout
block content
    h1= title
    .context
       p  #{result}
        input(type="hidden",id="articleKey", value="#{articleKey}")
        .context
            a(class="vote",href="#",key="#{articleKey}") span (赞) |
            a(href="comment?articleKey=#{articleKey}")  (评论)

        #votes

        #comments
            p
            script.
                $(".vote").click(function(){
                    var key = $(this).attr('key');
                    $.post(
                        '../vote/vote',
                        {articleKey:key},
                        function(data){

                        }, 'json'
                    );
                 });
                 function votes(){
                     var key = $("#articleKey").val();
                 }
                 function comments(){

                 }
                 votes();


