extends ../layout
block content
    h1= title
    .context
       p  #{result}

        .context
            a(href="vote?articleKey=#{articleKey}") #{key}(赞) |
            a(href="comment?articleKey=#{articleKey}") #{key} (评论)

